<mat-toolbar color="primary">{{ title }}</mat-toolbar>
<google-map
  height="500px"
  width="900px"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)"
>
  <map-marker
    #markerElem="mapMarker"
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.title)"
  >
    <map-info-window>
      <div [innerHTML]="infoContent"></div>
    </map-info-window>
  </map-marker>
</google-map>
<app-filter (newMarkerEvent)="updateMarker($event)"></app-filter>
